[submodule ".repos/effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect.git
[submodule "open-insight"]
	path = open-insight
	url = https://github.com/OpenInsightDev/open-insight.git
[submodule "benchmarks/workbuddy-bench"]
	path = benchmarks/workbuddy-bench
	url = https://github.com/OpenInsightDev/workbuddy-bench.git
[submodule "benchmarks/verilog-eval"]
	path = benchmarks/verilog-eval
	url = https://github.com/OpenInsightDev/verilog-eval.git
[submodule "benchmarks/cvdp_benchmark"]
	path = benchmarks/cvdp_benchmark
	url = https://github.com/OpenInsightDev/cvdp_benchmark.git
[submodule "benchmarks/frontier-bench"]
	path = benchmarks/frontier-bench
	url = https://github.com/observerw/frontier-bench.git
[submodule "benchmarks/RTLLM"]
	path = benchmarks/RTLLM
	url = https://github.com/OpenInsightDev/RTLLM.git
[submodule "benchmarks/tau2-bench"]
	path = benchmarks/tau2-bench
	url = https://github.com/OpenInsightDev/tau2-bench.git
